<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.job_filters{
	border-radius: 20px;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 
.job_filters{
	border-radius: 20px;
}

.search_submit input{
  border-radius: 25px;
  background-color: #068F48;
  border: none;
  color: white;
  font-weight: 500;
  padding: 10px;
}


</style>
<!-- end Simple Custom CSS and JS -->
